@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #f1f1f1;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}